body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    padding-top: 65px;
}

.icon {
    width: 25px;
    border-radius: 30%;
}

.navbar-custom {
    background-color: #8B0000;
    border-bottom: 3px solid #dfdfdf;
}

.footer-custom {
    background-color: #8B0000;
}

.img-offert-custom {
    max-height: 200px;
}

.img-card-custom {
    max-height: 100px;
}

.card-custom {
    background-color: #8B0000;
    color: #333333;
    min-height: 350px;
}

.custom-dropdown {
    min-width: 250px;
    border: 5px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.offert-text-custom {
    color: #ffffff;
}

.img-your-order{
    width: 80px; 
    height: auto; 
    object-fit: cover; 
    margin-right: 10px;
}

.mouseover-custom:hover {
    background-color: rgb(255, 178, 208);
}

.infopoint{
    width: 20px; 
    vertical-align: middle;
}

.add-to-cart-btn {
    transition: transform 0.2s ease-in-out;
    background-color: #F4A261;
}

.add-to-cart-btn:hover {
    transform: scale(1.10);
    background-color: #F4A261;
    color: black
}

.add-to-cart-btn:active {
    transform: scale(1.20);
}

.accordion-custom {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}

.accordion-custom.show {
    max-height: 1000px;
    padding: 10px 0;
}

.notification-custom {
    display: none; 
    width: 22px; 
    height: 22px;
}

.registration-custom {
    background-color: #fce948;
    border-radius: 8px;
    border: #333333 3px solid;
}

.input-custom {
    background-color: #fcefa1;
}

.background-custom {
    background-color: #D3D3D3;
    border-radius: 10px;
}
@media (min-width: 992px) {
    .icon {
        width: 45px;
    }
}