@media (max-width: 576px) {
    .icon {
        width: 30px;
    }
}

body{
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

.navbar-custom {
    background-color: #8B0000;
}

.footer-custom{
    background-color: #8B0000;
}

.img-offert-custom{
    max-height: 200px;
}

.img-card-custom{
    max-height: 100px;
}

.card-custom{
    background-color: #8B0000;
}

.custom-dropdown {
    min-width: 250px;
}

.btn-custom {
    background-color: #F4A261;
}

.card-custom{
    color: #333333;
}

.offert-text-custom{
    color: #ffffff;
}

.mouseover-custom:hover {
    background-color: rgb(255, 178, 208);
}